#content {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    text-align: center;
}

#inputArea {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#output {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}